<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <!-- ลิงก์ไปยังไฟล์ CSS สำหรับสไตล์ของหน้าเว็บ -->
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
  <h1>index</h1>
  <!-- เพิ่มลิงก์ไปยังหน้า Hospital -->
  <a>ไปยังหน้า <a href="/html/pages-hospital_information">Hospital Information</a></a>
</body>
</html>
